<!--<p>form-appartment works!</p>
<div class="container">
    <form [formGroup]="appartform">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input type="text" aria-label="Title" name="title" id="title" class="form-control" formControlName="title">
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">price</span>
            </div>
            <input type="text" aria-label="price" class="form-control" formControlName="price">

        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">quantity</span>
            </div>
            <input type="text" aria-label="quantity" class="form-control" formControlName="quantity">

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">residence</span>
                </div>
                <input type="text" aria-label="residence" class="form-control" formControlName="residence">

            </div>

            <br>
            



        </div>
    </form>
</div>-->